* {
    background-color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white
}

a{
    color: white
}

p{
    color: white
}