.txt-top {
    background: #b91919;
    color: rgba(255, 255, 255, 0.918);
    text-align: center;
    font-size: 90%;
    height: 125px
}

.img-main {
    background: black;
    position: inline
}

body, footer{
    background-color: black;
    color: white;
}

a {
    color: inherit
}